---
---

$parliamentBlue: #085196;
$commonsGreen: #00843d;
$lordsRed: #971b2f;

$partyColourLabour: #cc0000;
$partyColourConservative: #333399;
$partyColourLibDem: #f1cc0a;
$partyColourGreen: #99cc33;

$icon-font-path: "../assets/fonts/bootstrap/";
$brand-primary: $parliamentBlue;

$font-size-base: 16px;

@import "bootstrap";

#memberViz {

	img {		
		background-color: $gray;
		margin: 2px;
		padding: 3px;

		&.conservative-bg {
			background-color: $partyColourConservative;
		}

		&.labour-bg, &.labour-co-op-bg {
			background-color: $partyColourLabour;
		}

		&.liberal-democrat-bg {
			background-color: $partyColourLibDem;
		}

		&.green-bg {
			background-color: $partyColourGreen;
		}
	}
}

.header {
	padding-top: 25px;
}

.page-header {
	background-color: $parliamentBlue;
	color: white;
	margin-top: 25px;
}

body.commons .page-header, .commons-bg {
	background-color: $commonsGreen;
	color: white;
}

body.lords .page-header, .lords-bg {
	background-color: $lordsRed;
	color: white;
}

iframe.pull-right {
	margin-left: 20px;
	margin-bottom: 20px;
}

.contributionText {
	height: $line-height-computed * 2;
	overflow: hidden;
}

.jumbotron {
	margin-top: $line-height-computed;
}

.label {
	background-color: $gray;

	&.conservative-bg {
		background-color: $partyColourConservative;
	}

	&.labour-bg, &.labour-co-op-bg {
		background-color: $partyColourLabour;
	}

	&.liberal-democrat-bg {
		background-color: $partyColourLibDem;
	}

	&.green-bg {
		background-color: $partyColourGreen;
	}
}

.footer {

	border-top: 1px solid $page-header-border-color;
	text-align: center;
	margin-top: $line-height-computed * 2;

	img {
		height: 32px;
		margin: 16px;
	}
}
