---
---

$parliamentBlue: #085196;
$commonsGreen: #00843d;
$lordsRed: #971b2f;

$icon-font-path: "../assets/fonts/bootstrap/";
$brand-primary: $parliamentBlue;

@import "bootstrap";

.header {
	padding-top: 25px;
}

.page-header {
	background-color: $parliamentBlue;
	color: white;
	margin-top: 25px;
}

body.commons .page-header, .commons-bg {
	background-color: $commonsGreen;
	color: white;
}

body.lords .page-header, .lords-bg {
	background-color: $lordsRed;
	color: white;
}

.contributionText {
	height: $line-height-computed * 2;
	overflow: hidden;
}

.footer {

	border-top: 1px solid $page-header-border-color;
	text-align: center;
	margin-top: $line-height-computed * 2;

	img {
		height: 32px;
		margin: 16px;
	}
}