---
---

@import "bootstrap";

.commons-bg {
	background-color: #00843d;
	color: white;
}

.lords-bg {
	background-color: #971b2f;
	color: white;
}

.footer {

	border-top: 1px solid $page-header-border-color;
	text-align: center;
	margin-top: $line-height-computed * 2;

	img {
		height: 32px;
		margin: 16px;
	}
}