<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/application.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class="page-header">
        <div class="container">
          <h1 class="text-muted"><a href="/">{{ site.name }}</a></h1>
        </div>
      </div>

      <div class="container">

        {{ content }}

      </div> <!-- /container -->

      <footer class="footer">
        <div class="container">
          <p>
            <a href="https://github.com/JeniT/childs-guide-to-parliament"><img src="/assets/images/GitHub-Mark-32px.png"></a>
            <a href="https://twitter.com/JeniT"><img height="32px" src="/assets/images/Twitter_logo_blue.png"></a>
          </p>
        </div>
      </footer>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/assets/javascripts/bootstrap.js"></script>
    </body>
</html>
